body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a {
    color: #00bcff;
}
a:hover {
    color: #ff7d0c;
    text-decoration: none;
}
.header-flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-logo-block img {
    width: 340px;
}
.header-contact-block a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.header-cart {
    position: relative;
}
.header-cart-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #00bcff;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}
.header-cart i {
    font-size: 64px;
    color: #ff7d0c;
}
.header-search-block input {
    padding: 7px 15px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
}
.header-main-page {
    border-bottom: 2px solid #00bcff;
}
.header-search-block input:focus {
    outline-color: #00bcff;
}
.header-contact-block a i {
    width: 20px;
}
.header-cart:hover .header-cart-number {
    background-color: #ff7d0c;
}
.header-cart:hover i {
    color: #00bcff;
}
.blue-line-menu {
    background-color: #00bcff;
    padding: 10px 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-nav > li:hover a::after, .navbar-nav > li > a:focus::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #fff;
}
.dropdown-menu {
    border: none;
}
.header-cart-number a {
    color: #fff;
}
.chevron-background {
    font-size: 55px;
    color:  rgba(255, 125, 12, 0.7);
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-block-hidden {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.main-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.title-block-hidden:before, .title-block-hidden:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #ff7d0c;
}
.title-block-hidden:before {
    margin-left: -100%;
    left: -14px;
}
.title-block-hidden:after {
    margin-right: -100%;
    right: -14px;
}
#cart {
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 9;
    transition: all ease-in-out .3s;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    background: #ff7d0c;
    padding: 5px 6px 5px 10px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #fff;
    border-right: none;
}
#cart a {
    color: #fff;
}
.blue-line-menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}
.cart-tab-property {
    border-bottom: 2px dotted #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.cart-tab-property-number {
    text-align: right;
}
.main-goods-item {
    width: 32%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #00bcff;
    border-radius: 4px;
}
.main-goods-image {
    margin-bottom: 10px;
}
.main-goods-image img {
    width: 100%;
}
.old-main-price {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 14px;
    text-decoration: line-through;
}
.price-main-block {
    display: flex;
    align-items: flex-end;
}
.catalog-button {
    background-color: #ff7d0c;
    border: 2px solid #ff7d0c;
    color: #fff;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bold;
}
.catalog-button:hover {
    background-color: #fff;
    color: #ff7d0c;
}
.catalog-button:focus {
    outline: none;
}
.line-catalog-price {
    border-bottom: none;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form .catalog-button {
    display: block;
    text-align: center;
}
button.close {
    position: relative;
    right: 10px;
    top: 8px;
    z-index: 1;
}
.goods-block-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.main-button-block {
    text-align: center;
    margin-bottom: 40px;
}
.new-main-price {
    font-weight: bold;
    font-family: 'Noto Serif', sans-serif;
    font-size: 20px;
}
.footer-page-block {
    padding: 40px 0;
    background-color: #00bcff;
    margin-top: 40px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-logo {
    width: 260px;
}
.footer-links a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.header-logo img, .footer-logo img {
    width: 100%;
}
.footer-copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.footer-copyright a {
    color: #fff;
}
.brends-item {
    padding: 10px;
}
.owl-carousel2 {
    margin-bottom: 40px;
}
.mini-title {
    margin-bottom: 30px;
}
.title-margin {
    margin-top: 40px;
}
.goods-block-flex-catalog .main-goods-item {
    width: 48%;
}
.catalog-page-flex {
    display: flex;
}
.filter-title-main {
    background-color: #00bcff;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}
.range-filter-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filter-price-item {
    position: relative;
}
.filter-price-item span {
    position: absolute;
    left: 5px;
    top: 2px;
}
.filter-price-item input {
    padding-left: 26px;
    width: 107px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.filter-price-item:first-child {
    margin-right: 15px;
}
.box-label input[type="checkbox"] {
    display: none;
}
.box-label {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-weight: normal;
}
input[type=checkbox]:checked + .box::before {
    content: "\f14a";
    color: #00bcff;
    animation: checkanimate 200ms;
}
.box::before {
    content: "\f096";
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 1px;
    width: 1em;
    display: inline-block;
    font-size: 1.6em;
}
@keyframes checkanimate{
    0% {transform: scale(0);}
    90% {transform: scale(1.4);}
    100% {transform: scale(1);}
}
.checkbox-block-filter {
    margin-bottom: 15px;
}
.catalog-filter {
    margin-right: 20px;
}
.ditto_currentpage {
    color: #00bcff;
    background-color: #fff;
    border: 1px solid #00bcff;
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 4px;
}
.ditto_page {
    padding: 4.5px 10px;
    color: #ffffff;
    background-color: #00bcff;
    text-decoration: none;
    border: 1px solid #00bcff;
    border-radius: 4px;
}
.ditto_page:hover {
    background-color: #fff;
    color: #00bcff;
}
.row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-title-number {
    width: 160px;
}
.card-title-measure, .card-title-price, .card-title-sum, .card-title-close {
    align-self: center;
}
.card-title-measure {
    width: 13%;
}
.card-title-price {
    width: 100px;
}
.card-title-sum {
    width: 100px;
    display: inline-block;
}
.cart-row {
    border-bottom: 1px solid #c2c2c2;
    padding: 20px 0;
}
.card-title-name {
    width: 20%;
}
.minus, .plus {
    height: 25px;
    background: #ff7d0c;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    width: 23px;
    cursor: pointer;
    font-size: 14px;
}
.minus {
    padding: 8px 12px;
}
.input-value {
    width: 69px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    margin: 0 2px;
}
.plus {
    padding: 8px 12px;
}
.card-title-img img {
    width: 100%;
}
.card-title-img {
    width: 25%;
}
.order-table-block {
    margin-bottom: 40px;
}
.cart-sub-title {
    margin-bottom: 20px;
}
.prise-sum-total {
    text-align: right;
    font-weight: bold;
}
.cart-forms-user {
    display: flex;
    justify-content: space-between;
}
.input-cart-block {
    width: 31%;
}
.cart-forms-user input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.text-legal-entity, .text-montage {
    display: none;
    margin: 20px 0;
}
.radio-item-cart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c2c2c2;
    align-items: center;
}
.radio-cart-block {
    margin-bottom: 20px;
}
.textarea-block-cart textarea {
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
    width: 100%;
}
.textarea-block-cart {
    margin-bottom: 20px;
}
.subscribe-notice {
    text-align: center;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media(max-width: 1199px) {
    .catalog-button {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .header-logo-block img {
        width: 260px;
    }
    .header-flex-block {
        flex-wrap: wrap;
    }
    .header-logo-block {
        width: 50%;
    }
    .main-goods-item {
        width: 48%;
    }
    .footer-flex {
        flex-wrap: wrap;
    }
    .footer-links {
        width: 46%;
        margin-bottom: 15px;
    }
    .goods-block-flex-catalog .main-goods-item {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .main-goods-item {
        width: 100%;
    }
    .row-flex {
        flex-direction: column;
    }
    .row-mobile {
        display: none;
    }
    .card-title-img, .card-title-name, .card-title-price, .card-title-sum {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .card-title-number {
        margin-bottom: 15px;
    }
}
@media (max-width: 600px) {
    .catalog-page-flex {
        flex-direction: column;
    }
    .catalog-filter {
        margin-right: 0;
    }
    .cart-forms-user {
        flex-direction: column;
    }
    .input-cart-block {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .header-logo-block img {
        width: 100%;
    }
    .header-logo-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .header-search-block {
        width: 76%;
    }
    .header-search-block input {
        width: 100%;
    }
    .footer-logo {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-links {
        width: 100%;
    }
    .catalog-button {
        padding: 5px 5px;
    }
}