body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a {
    color: #00bcff;
}
a:hover {
    color: #ff7d0c;
    text-decoration: none;
}
.header-flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-logo-block img {
    width: 340px;
}
.header-contact-block a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.header-cart {
    position: relative;
}
.header-cart-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #00bcff;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}
.header-cart i {
    font-size: 64px;
    color: #ff7d0c;
}
.header-search-block input {
    padding: 7px 15px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
}
.header-main-page {
    border-bottom: 2px solid #00bcff;
}
.header-search-block input:focus {
    outline-color: #00bcff;
}
.header-contact-block a i {
    width: 20px;
}
.header-cart:hover .header-cart-number {
    background-color: #ff7d0c;
}
.header-cart:hover i {
    color: #00bcff;
}
.blue-line-menu {
    background-color: #00bcff;
    padding: 10px 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-nav > li:hover a::after, .navbar-nav > li > a:focus::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #fff;
}
.dropdown-menu {
    border: none;
}
.header-cart-number a {
    color: #fff;
}
.chevron-background {
    font-size: 55px;
    color:  rgba(255, 125, 12, 0.7);
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-block-hidden {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.main-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.title-block-hidden:before, .title-block-hidden:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #ff7d0c;
}
.title-block-hidden:before {
    margin-left: -100%;
    left: -14px;
}
.title-block-hidden:after {
    margin-right: -100%;
    right: -14px;
}
#cart {
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 9;
    transition: all ease-in-out .3s;
    color: #ff7d0c;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    background: #ff7d0c;
    padding: 5px 6px 5px 10px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #fff;
}
#cart a {
    color: #fff;
}
.blue-line-menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}
.cart-tab-property {
    border-bottom: 2px dotted #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.cart-tab-property-number {
    text-align: right;
}
.main-goods-item {
    width: 31%;
    margin-bottom: 20px;
}
.main-goods-image {
    margin-bottom: 10px;
}
.main-goods-image img {
    width: 100%;
}
.old-main-price {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 14px;
    text-decoration: line-through;
}
.price-main-block {
    display: flex;
    align-items: flex-end;
}
.catalog-button {
    background-color: #ff7d0c;
    border: 2px solid #ff7d0c;
    color: #fff;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bold;
}
.catalog-button:hover {
    background-color: #fff;
    color: #ff7d0c;
}
.catalog-button:focus {
    outline: none;
}
.line-catalog-price {
    border-bottom: none;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form .catalog-button {
    display: block;
    text-align: center;
}
button.close {
    position: relative;
    right: 10px;
    top: 8px;
    z-index: 1;
}
.goods-block-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 991px) {
    .header-logo-block img {
        width: 260px;
    }
    .header-flex-block {
        flex-wrap: wrap;
    }
    .header-logo-block {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
}
@media (max-width: 500px) {
    .header-logo-block img {
        width: 100%;
    }
    .header-logo-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .header-search-block {
        width: 76%;
    }
    .header-search-block input {
        width: 100%;
    }
}